@model Livro
@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<form asp-action="editar" >
    <input asp-for="Codigo" />

    <!--Para evitar código duplicado em editar e cadastrar-->
    <partial name="_Formulario" />

    <input type="submit" value="Editar" class="btn btn-outline-success" />
    <a asp-action="index" class="btn btn-outline-dark">Cancelar</a>
</form>